/*MAIN*/

/*SECTION1*/








.section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    text-align: center;
    color: #fff;
    margin-bottom: 2em;
    background-image: url('../../assets/PORTADA 2.svg'); /* Ruta a tu imagen de fondo */
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-position: center top; /* Mueve la imagen hacia arriba */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    /* background-attachment: fixed;  */
    max-width: 1200px;
    margin: 0 auto;
    min-height: 750px; /* Establece una altura mínima para el contenedor */
}




@media (min-width: 768px) {
    .section-one {
        flex-direction: row; /* Alinear en fila en pantallas grandes */
        justify-content: space-between;
        align-items: flex-start; /* Alinear en la parte superior */
    }

    .section-one .content {
        padding-left: 1rem; /* Ajuste a la izquierda en pantallas grandes */
        flex: 1.5; /* Permitir que el contenido ocupe más espacio */
        text-align: left; /* Alinear el texto a la izquierda en pantallas grandes */
    }

    .section-one .image {
        flex: 1; /* Reducir el tamaño del contenedor de la imagen */
        margin-top: 0;
        width: 100%;
    }
}

.section-one h1 {
    font-size: 3.5rem; /* Tamaño grande en pantallas grandes */
    margin-bottom: 2rem;
    line-height: 1.2; /* Ajustar la altura de línea para el texto en varias líneas */
    max-width: 90%; /* Ajustar el ancho máximo del h1 para que ocupe más espacio */
    margin-top: 1.5em;
}

.section-one h1 span {
    color: #aaf2f5; /* Color azul */
    /* background: linear-gradient(500deg, #138A98, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-animation 3s ease infinite; */
}

/* @keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */

.section-one p {
    font-size: 1.2rem; /* Reducir el tamaño del párrafo */
    margin-bottom: 3rem; /* Reducir el margen inferior */
    line-height: 1.4; /* Ajustar la altura de línea para el párrafo en varias líneas */
    max-width: 70%; /* Controlar el ancho máximo del párrafo */
    text-align: justify;
    font-weight: 600;
    color: #d9dfe6;
}

.section-one .buttons {
    display: flex;
    justify-content: left;
}

.section-one .btn {
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    border: 2px solid transparent;
    border-radius: 50px; /* Redondear los botones */
    cursor: pointer;
    /* transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, transform 0.3s ease; */
}

.section-one .secondary-btn {
    background-color: var(--hover-color);
    color: var(--gradient-end);
}

.section-one .secondary-btn:hover {
    background-color: var(--background-color); /* Cambiar a otro color */
    color: var(--text-color);
    border-color: var(--text-color);
    /*transform: scale(1.05); /* Animación de escalado */
}

@media (max-width: 768px) {
    .section-one .buttons {
        flex-direction: column;
        align-items: center;
        gap: 1rem; /* Ajuste del espacio entre botones */
    }

    .section-one .secondary-btn {
        width: 100%; /* Mayor largo */
    }
}

.section-one .image {
    margin-top: 13rem; /* Ajusta el margen superior para pantallas pequeñas */
    flex: 1; /* Asegura que el contenedor de la imagen tenga suficiente espacio */
    max-width: 100%; /* Asegura que el contenedor no exceda el ancho del contenedor principal */
}

.section-one .responsive-image {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block;
}


/* @keyframes zoom-in-out {
    0% {
        transform: scale(1);
        opacity: 0.7;
    }
    50% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0.7;
    }
} */

@media (max-width: 768px) {
    .section-one h1 {
        font-size: 2.5rem; /* Tamaño adecuado para pantallas pequeñas */
        margin-top: 2em;
        max-width: 90%; /* Ajustar el ancho máximo del h1 para pantallas pequeñas */
        text-align: left;
    }

    .section-one p {
        font-size: 1.1rem; /* Tamaño adecuado para pantallas pequeñas */
        line-height: 1.8; /* Ajustar la altura de línea para el párrafo en varias líneas */
        max-width: 90%; /* Ajustar el ancho máximo del párrafo */
        text-align: left;
        margin-bottom: 2em;
    }

    .section-one {
        text-align: center;
        background-size: cover; /* Mantiene la imagen cubierta */
        background-position: center; /* Centra la imagen en el contenedor */
        /* background-attachment: fixed;  */
        background-size: auto 200%; 
        background-position: center top;
    }

    .section-one .buttons {
        display: flex;
        justify-content: left;
        margin-bottom: -10rem;
    }
}